

body {background-color: rgba(255, 255, 255, 0.836); 
    background-image: url(fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 1800px;
    background-attachment: fixed;
    background-size: cover; 
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

h1 {color: black; margin-bottom: 1%; margin-left: 2%;}

h2 {text-align: left; width: 65%; }


p {color: black; margin-right: 5%; font-size: 100%; text-align: justify; }

.contenedor { width: 70%; margin: auto; background-color: rgba(255, 255, 255, 0.582); border-color: black; border-width: 1px; border-style:solid; box-sizing: border-box;}

.personaje {padding: 2%; box-sizing: border-box;}

.imgheader { width: 100%;}

.titulo {font-size: 120%;}

.imagenpersonaje { width: 30%; border-radius: 50%; float: left; margin-left: 1%; padding: 3%;}

.imgfooter {width: 100%;}

.textopersonaje {width: 55%;
    float: left;
    margin: auto;}




.data {position: absolute; font-size: 90%;}


footer { position: relative; display: inline-block; text-align: center; width: 100%;}

